<app-nav-bar-admin></app-nav-bar-admin>

<main>
    <div id="pagination" style="text-align: center;">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </div> 
    <div class="table-wrapper">
      <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Mark</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody  id="paginatedTable" >
        <tr *ngFor="let prod of prod  | paginate:{itemsPerPage: 5, currentPage:p }  let i=index" >
          <td>{{i+1}}</td>
          <td>{{prod.proN}}</td>
          <td>{{prod.price}}</td>
          <td>{{prod.quantity}}</td>
          <td>{{prod.mark}}</td>
          <td>{{prod.description}}</td>
          <td><button class="button button5" (click)="editProd(prod._id)">Edit</button><button class="button button5" (click)="deletePro(prod._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </main>

